# App
SERVICE_NAME=health-system-api
APP_VERSION=1.0.0
PORT=3000
NODE_ENV=production

# Postgres
POSTGRES_DB=health_system
POSTGRES_USER=health_user
POSTGRES_PASSWORD=change_me_in_production

# Docker Hub
DOCKER_IMAGE=your-dockerhub-username/health-system-api
